* {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	box-sizing: content-box;
}

.menu {
	margin: 32px auto;
	width: 650px;

}
.link-item {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.link-text{
	text-decoration: none;
	color: red;
	font-weight: 700;
	margin-left: 72px;
}

.back-photo{
	height: 789px;
	background-color: #FFFFFF;
	background-image: url(../img/image\ 1.png);
	background-position: center;	
}


.text-item1{
	margin-top: 50px;
text-align: center;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
text-transform: uppercase;
}
.text-item2{
font-weight: 400;
font-size: 16px;
line-height: 26px;
margin: 28px 68px;
text-align: center;
}
.button{
	margin: 40px auto;
	width: 151px;
}
button{
background-color: #FF0000;
border-radius: 4px;
width: 191px;
height: 51px;
text-transform: uppercase;
color: #FFFFFF;
font-weight: 700;
}

.copyr{
	text-align: end;
	width: 1400px;
height: 39px;
margin: 30px auto;
font-weight: 700;
}